body {
          padding-top: 50px;
          position: relative;
          color: black;
      }
      
      pre {
          tab-size: 8;
      }
#email2{
  width: 150%;
}
      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:10;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
          #footer{
            height: 150px;
            z-index: -10;
            overflow:  scroll;
          }
          #header{
            z-index: 10;
          }
          .footerfloat{

          }
          #email2{
            width: 50%;
          }
      }

#header {
    overflow: hidden;
    position: relative;
     /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-top: -50px;

}      
#content{
  width: 180%;
  height: 65%;
  margin-left: -45%;
  background-color: black;
  color: orange;
  float: left;
}
#conolog{
  color:white;
  font-size: 38px;
}
#cruz{
  width: 200px;
  height: 200px;
}
.close{
  color:white;
}
.panel {
  background-color: black;
  margin-top: 5%;
}
#email{
  height: 8%;
  width: 200%;
  background-color: #2b2a28;
  color: #757575;
  font-size: 22px;
}
#password{
  height: 8%;
  width: 200%;
  background-color: #2b2a28;
  color: white;
  font-size: 22px;
}
#remember{
  height: 11%;
  width: 200%;
  background-color: #101010;
  color: white;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius:6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #D5D5D5;
}
#iniciarsesion{
  width: 146%;
  color: black;
  height:  9%;
}
#panelderecha{
  margin-top: 15%;
}
#supreg{
  font-size: 20px;
  color: white;
  text-align: center;
}
#reginfo{
  font-size: 17px;
  color: grey;
  text-align: center;
}
 
/* Boton iniciar sesion */

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: orange;
}
 
.btn-ttc:hover {
 background-color:  #FFB200;
}


.btn-ttb,
.btn-ttb:hover,
.btn-ttb:active {
  color: #ACACAC;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #3F3F3F;
  width: 100%;
}
.btn-ttb:hover {
  background-color: #7D7C7C;
}
ul{
  list-style-type: none;

 }
.img{
  margin-left: -30%;
}
#muchomas{
  margin-top: 3%;
}
#registro{

}
#remember2{
  color:orange;
}

/*FOOTER*/
@media all and (min-width: 950px) {
    #footer {

        width: 50%;
        margin: auto;
    } 
    .footerFloat {
    width: 25%;
    float: left;
    }
    #footer p{
      color: orange;
    }
    #footer h4{
      color: white;
    }

}
#footer p{
  color: orange;

}
#footer h4{
      color: white;
    }
#wrapper {
    background-color: #242424;
    width: 100%;
    overflow:hidden;
    bottom: 0;


}

#submenu{
  padding-right: 60px;
}
#registrocontenido{
  background-color: orange
  height:;
}

/*REGISTRO CSS*/
#registrate{
  color: white;
  font-size: 45px;
  text-align: center;
}
#experiencia{
  color: grey;
  font-size: 15px;
  text-align: center;
  margin-top: -3%;
}

#name2{
  height: 5%;
  width: 100%;
  background-color: black;
  color: #757575;
  font-size: 18px;
}
#password2{
  height: 5%;
  width: 100%;
  background-color: black;
  color: #757575;
  font-size: 18px;
}
#email2{
  font-size: 18px;
  height: 5%;
  width: 100%;
  background-color: black;
}

}

